node_modules
.DS_Store
*.jpg
*.png
*.pdf

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.ebextensions/securelistener-clb.config
/keys/runtime_args
post.html