<% include partials/header %>
<div class="container">
	<form action="/admin/login" method="post">
		<input type="text" name="username" id="username" />
		<input type="password" name="password" id="password" />
		<input type="submit" name="submit" />
	</form>
</div>