@import '_var.scss';

.alContainer {
     width: 100%;
     display: flex;

     div {
          width: calc(100% / 6);
          display: inline-block;
          height: 0;
          position: relative;
          width: 100%;
          padding-bottom: 100%;
          display: inline-block;
          font-family: $mainFont;
          cursor: pointer;

          .songContainer {
               &.colourTransition {
                    filter: grayscale(1);
                    transition: 0.2s ease;

                    &:hover {
                         filter: grayscale(0);

                         h1 {
                              opacity: 1;

                         }
                    }

               }


               h1 {
                    &.selected {
                         opacity: 1;
                    }

                    transition: 0.2s ease;
                    opacity: 0;
                    position: absolute;
                    font-size: 26px;
                    width: 100%;
                    text-align: center;

               }

               .songTitle {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 200;
                    color: white;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    text-transform: uppercase;
                    font-size: 28px;
                    padding: 0;
               }

               iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    z-index: 300;
               }
          }
     }
}

.albumMetaContainer {
     width: calc(100% - 20px);
     padding: 10px;
     vertical-align: top;
     display: flex;
     flex-direction: row;
     justify-items: start;
     align-items: flex-start;
     color: white;
     background: rgba(0, 0, 0, 0.7);

     .infoContainer {
          padding: 10px;

          h1 {
               font-family: $mainFont;
               text-transform: uppercase;
          }
     }

     img {
          display: inline-block;
     }


}

.albumLinks {
     margin-top: 26px;

     a {
          background: black;
          padding: 10px;
          margin-right: 11px;
          border-radius: 20px;
          color: white;
          text-decoration: none;
          border: 2px solid white;
          transition: 0.2s;

          &:hover {
               background: white;
               color: black;
          }
     }
}

@media screen and (max-width:1200px) {
     .alContainer {

          div {
               width: calc(100% / 3);
          }
     }
}

@media screen and (max-width:850px) {
     .alContainer {
          div {
               width: calc(100% / 2);
          }
     }
}