@import '_var.scss';

.backgroundContainer {
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index:-999999;
    .background {
        position:fixed;
        top:0;
        left:0;
        height:100%;
        width:100%;
        background-size:cover;
        transition:$transitionTime;
    }
}