@import '_var.scss';

.socialContainer {
     margin: auto;
     max-width: 940px;
     width: 100%;

     .socialInput {
          width: calc(100% / 6);
          padding-bottom: 17%;
          height: 0;
          background-color: blue;
          display: inline-block;
          position: relative;
          transition: 0.2s ease;
          cursor: pointer !important;

          input {
               display: none;
          }

          .socialLabel {
               display: flex;
               flex-direction: column;
               align-items: center;
               justify-content: space-around;
               position: absolute;
               width: 100%;
               height: 100%;
          }

          .socialIcon {
               width: 60%;

               img {
                    width: 100%;
               }
          }

          .socialTitle {
               display: none;
               text-transform: uppercase;
               font-family: $mainFont;
               color: white;
          }

          &:hover {
               .socialTitle {
                    display: block;
               }
          }

     }
}

input[type='text'],
input[type='email'],
textarea#message {
     background: black;
     border: 0;
     width: 100%;
     font-size: 18px;
     color: white;
     padding: 8px;
     transition: $transitionTime;
     border-bottom: 3px solid;
}