.lbdescr {
    text-align: center;

    p {
        display: inline-block;
        width: calc(100% - 20px);
        padding: 10px;

        img {
            width: 140px;
        }
    }



}

div.poster {

    display: inline-block;
    width: calc(100% / 5);



    .lb {
        width: 100%;
        display: inline-block;
        height: 0;
        padding-bottom: 150%;
        background-size: cover;
        text-align: center;
        position: relative;
        background-position: center;
        cursor: pointer;

        &:hover {
            .starContainer {
                display: flex;
            }
        }

        .starContainer {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-content: center;
            flex-direction: column;
            background: rgba(0, 0, 0, 0.7);
            display: none;
            transition: 0.2s ease;
        }
    }
}

@media screen and (max-width:900px) {
    div.poster {
        width: calc(100% / 4);
    }
}

@media screen and (max-width:700px) {
    div.poster {
        width: calc(100% / 3);
    }
}

@media screen and (max-width:400px) {
    div.poster {
        width: calc(100% / 2);
    }
}