.postContainer {
    width: 100%;
    margin-bottom: 30px;
    border: 1px solid white;
    border-radius: 10px;
    background-size: 105% 105%;
    background-position: center center;
    overflow: hidden;
    position: relative;

    .postImage {
        width: 200px;
        top: 0;
        left: 0;
        position: absolute;
        height: 100%;
        display: inline-block;

        img {
            position: absolute;
            object-fit: cover;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }

    .postBGContainer {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;

        overflow: hidden;

        .postBg {
            position: absolute;
            overflow: hidden;
            width: 105%;
            height: 105%;


            .postDarker {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.5);
                z-index: -2;
            }

            .postbgimg {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -3;
                background-size: cover;
                background-position: center;
                filter: blur(4px);
            }

        }


    }

    .postText {
        color: white;
        padding: 15px;
        text-align: left;
        font-size: 15px;
        display: inline-block;
        width: calc(100% - 230px);
        text-decoration: none;
        margin-left: 200px;

        .postTitle {
            text-transform: uppercase;
            font-family: $mainFont;
        }

        div {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
}

@media screen and (max-width:450px) {
    .postContainer {
        .postImage {
            width: 100%;
            height: 150px;
        }

        .postText {
            margin-left: 0;
            margin-top: 150px;
            width: calc(100% - 30px);
        }
    }
}