.work {
width: calc(100% / 3);
display: inline-block;
padding-bottom: 15.6%;
position: relative;
height: 0;
.workCover {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: inline-block;
}
}
