@import '_var.scss';

.work {
     width: calc(100% / 3);
     display: inline-block;
     padding-bottom: 15.6%;
     position: relative;
     height: 0;

     .workCover {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: inline-block;
          background-size: cover;
          background-position: center;
     }

     .workText {
          position: absolute;
          top: 0;
          left: 0;
          width: calc(100% - 30px);
          height: calc(100% - 30px);
          padding: 15px;
          display: flex;
          flex-direction: column;
          justify-content: end;
          color: white;
          background: rgba(0, 0, 0, 0.2);
          transition: 0.2s ease;

          &:hover {
               background: rgba(0, 0, 0, 0.6);
          }

          h3 {
               width: 100%;
               bottom: 15px;
               font-family: $mainFont;
               text-transform: uppercase;
               margin-top: 3px;
               margin-bottom: 3px;
               font-size: 23px;

          }

          p {
               margin-bottom: 0;
               margin-top: 5px;
          }

          i {
               margin-top: 3px;
               margin-bottom: 3px;
          }
     }
}

@media screen and (max-width:1150px) {
     .work {
          width: calc(100% / 2);
          padding-bottom: 24.6%;
     }
}

@media screen and (max-width:800px) {
     .work {
          width: 100%;
          padding-bottom: 40.6%;
     }
}

.videoTheatre {
     background-color: black;
     width: 100%;

     .containerContainer {
          width: 100%;
          max-width: 940px;
          margin: auto;
          position: relative;
          display: block;

          .iframeContainer {
               top: 0;
               left: 0;
               width: 100%;
               padding-bottom: 56%;

               iframe {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
               }
          }
     }
}


.shareContainer * {
     display: inline-block;
     margin: 10px;
     cursor: pointer;
}